<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

<!-- Barra de navegación -->
<app-navegacion></app-navegacion>


<!-- Formulario de registro -->
<form (ngSubmit)="registrarUsuario()" class="container mt-5 p-4 border rounded bg-light shadow">
  <h2 *ngIf="usuario.cargo == 'Administrador' " class="text-center mb-4">Registro de Usuario</h2>
  <h2 *ngIf="usuario.cargo != 'Administrador' " class="text-center mb-4">Registro de Cliente</h2>
  <div class="row">
    <!-- Nombre -->
    <div class="col-md-6 mb-3">
      <label for="nombre" class="form-label"><i class="fa fa-user"></i> Nombre:</label>
      <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombres" required>
    </div>
    <!-- Apellidos -->
    <div class="col-md-6 mb-3">
      <label for="apellidos" class="form-label"><i class="fa fa-user-plus"></i> Apellidos:</label>
      <input type="text" class="form-control" id="apellidos" name="apellidos" [(ngModel)]="apellidos" required>
    </div>
  </div>
  <div class="row">
    <!-- Teléfono -->
    <div class="col-md-6 mb-3">
      <label for="telefono" class="form-label"><i class="fa fa-phone"></i> Teléfono:</label>
      <input type="text" class="form-control" id="telefono" name="telefono" [(ngModel)]="telefono" required>
    </div>
    <!-- Cargo -->
    <div *ngIf="usuario.cargo == 'Administrador' " class="col-md-6 mb-3">
      <label for="cargo" class="form-label"><i class="fa fa-briefcase"></i> Cargo:</label>
      <select class="form-select" id="cargo" name="cargo" [(ngModel)]="cargo" required>
        <option *ngFor="let opcion of cargos" [value]="opcion.id">{{ opcion.nombre }}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <!-- Identificación -->
    <div class="col-md-6 mb-3">
      <label for="identificacion" class="form-label"><i class="fa fa-id-card"></i> Identificación:</label>
      <input type="text" class="form-control" id="identificacion" name="identificacion" [(ngModel)]="identificacion" required>
    </div>
    <!-- Correo electrónico -->
    <div class="col-md-6 mb-3">
      <label for="correo" class="form-label"><i class="fa fa-envelope"></i> Correo electrónico:</label>
      <input type="email" class="form-control" id="correo" name="correo" [(ngModel)]="correo" required>
    </div>
  </div>
  <div class="row">
    <!-- Contraseña -->
    <div class="col-md-6 mb-3">
      <label for="contrasena" class="form-label"><i class="fa fa-lock"></i> Contraseña:</label>
      <input type="password" class="form-control" id="contrasena" name="contrasena" [(ngModel)]="contrasena" required>
    </div>
    <!-- Pregunta de seguridad -->
    <div class="col-md-6 mb-3">
      <label for="preguntaSeguridad" class="form-label"><i class="fa fa-question-circle"></i> Pregunta de seguridad:</label>
      <select class="form-select" id="preguntaSeguridad" name="preguntaSeguridad" [(ngModel)]="pregunta" required>
        <option value="nombre de tu primer mascota">Nombre de tu primer mascota</option>
        <option value="ciudad natal">Ciudad natal</option>
        <option value="nombre de tu mejor amigo">Nombre de tu mejor amigo</option>
      </select>
    </div>
  </div>
  <div class="mb-3">
    <!-- Respuesta -->
    <label for="respuesta" class="form-label"><i class="fa fa-pencil-alt"></i> Respuesta:</label>
    <input type="text" class="form-control" id="respuesta" name="respuesta" [(ngModel)]="respuesta" required>
  </div>
  <button type="submit" class="btn btn-primary w-100">Registrar</button>
</form>
